<!DOCTYPE html>
<html lang="en">

<head>
   <!-- basic -->
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <!-- mobile metas -->
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="viewport" content="initial-scale=1, maximum-scale=1">
   <!-- site metas -->
   <title>Skripsipedia</title>
   <meta name="keywords" content="">
   <meta name="description" content="">
   <meta name="author" content="">
   {% load static %}
   <!-- Include CSS files -->
   {% include 'dosen_matkul/includes/css.html' %}
   <!-- Specific CSS goes HERE -->
   {% block stylesheets %}
   <style>
      .pagination {
         display: flex;
         justify-content: center;
      }

      .pagination .active>span {
         background-color: #000000;
         color: black;
      }

      .pagination button {
         padding: 0.5em 1em;
         margin: 0 0.25em;
      }
   </style>
   {% endblock stylesheets %}
   <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
</head>

{% include 'dosen_matkul/includes/navigation.html' %}

{% block content %}

<!-- dashboard inner -->

<!-- row -->
<div class="row column1">
   <div class="col-md-13">
      <div class="white_shd full margin_bottom_30">
         <div class="full graph_head">
            <div class="heading1 margin_0">
               <h2>Daftar File Proposal</h2>
            </div>
         </div>
         {% include 'message.html' %}
         <div class="full price_table padding_infor_info">
            <div class="row">
               <div class="col-lg-12">
                  <div class="table-responsive-sm">
                     <table class="table table-striped projects">
                        <thead class="thead-dark">
                           <tr>
                              <th style="width: 2%">No</th>
                              <th style="width: 30%">Judul TA</th>
                              <th>Nama</th>
                              <th>NIM</th>
                              <th>CD 1</th>
                              <th>CD 2</th>
                              <th>CD 3</th>
                           </tr>
                        </thead>
                        {% for sempro in daftar %}
                        <tbody>
                           <tr>
                              <td>
                                 <a>{{ forloop.counter }}</a>
                              </td>
                              <td>
                                 <a>{{sempro.judul}}</a>
                              </td>
                              <td>
                                 <a>{{sempro.nama}}</a>
                              </td>
                              <td>
                                 <a>{{sempro.nim}}</a>
                              </td>
                              <td>
                                 <a class="file-sempro" href="{{sempro.cd1.url}}">
                                    <button type="button" class="btn btn-success btn-xs">CD 1</button>
                                 </a>
                              </td>
                              <td>
                                 <a class="file-sempro" href="{{sempro.cd2.url}}">
                                    <button type="button" class="btn btn-success btn-xs">CD 2</button>
                                 </a>
                              </td>
                              <td>
                                 <a class="file-sempro" href="{{sempro.cd3.url}}">
                                    <button type="button" class="btn btn-success btn-xs">CD 3</button>
                                 </a>
                              </td>
                           </tr>
                           {% endfor %}
                        </tbody>
                     </table>
                     <br>
                     <ul class="pagination">
                        {% if daftar.has_previous %}
                        <li><a href="?page={{ daftar.previous_page_number }}"><button
                                 class="btn {% if daftar.number == 1 %}btn-primary{% else %}btn-outline-primary{% endif %}">&laquo;</button></a>
                        </li>
                        {% else %}
                        <li class="disabled"><span><button
                                 class="btn {% if daftar.number == 1 %}btn-primary{% else %}btn-outline-primary{% endif %}">&laquo;</button></span>
                        </li>
                        {% endif %}
                        {% for i in daftar.paginator.page_range %}
                        {% if daftar.number == i %}
                        <li class="active"><span><button class="btn btn-primary">{{ i }} <span
                                    class="sr-only">(current)</span></button></span></li>
                        {% else %}
                        <li><a href="?page={{ i }}"><button class="btn btn-outline-primary">{{ i }}</button></a></li>
                        {% endif %}
                        {% endfor %}
                        {% if daftar.has_next %}
                        <li><a href="?page={{ pro.next_page_number }}"><button
                                 class="btn {% if daftar.number == daftar.paginator.num_pages %}btn-primary{% else %}btn-outline-primary{% endif %}">&raquo;</button></a>
                        </li>
                        {% else %}
                        <li class="disabled"><span><button
                                 class="btn {% if daftar.number == daftar.paginator.num_pages %}btn-primary{% else %}btn-outline-primary{% endif %}">&raquo;</button></span>
                        </li>
                        {% endif %}
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- end row -->
</div>
<!-- footer -->

{% include 'dosen_matkul/includes/footer.html' %}
</div>
<!-- end dashboard inner -->
</div>
</div>
</div>
{% include 'dosen_matkul/includes/scripts.html' %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}
</body>
{% endblock content %}

</html>