<!DOCTYPE html>
<html lang="en">

<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Skripsipedia</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    {% load static %}
    <!-- Include CSS files -->
    {% include 'dosen_matkul/includes/css.html' %}
    <!-- Specific CSS goes HERE -->
    {% block stylesheets %}
    {% endblock stylesheets %}
    <!--[if lt IE 9]>
           <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
           <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
           <![endif]-->
</head>

{% include 'dosen_matkul/includes/navigation.html' %}

{% block content %}
<div class="midde_cont">
    <div class="container-fluid">
        <div class="row column_title">
            <div class="col-md-12">
                <div class="page_title">
                    <h2>Ubah Password</h2>
                </div>
            </div>
        </div>

        {% include 'message.html' %}

        <body>
            <div class="container-xl px-4 mt-4">
                <!-- Account page navigation-->
                <nav class="nav nav-borders">
                    <a class="nav-link active ms-0" href="{% url 'ubahPasswordDM' %}">Keamanan</a>
                </nav>
                <hr class="mt-0 mb-4">
                <div class="row">
                    <div class="col-lg-8">
                        <!-- Change password card-->
                        <div class="card mb-4">
                            <div class="card-header">Ubah Password</div>
                            <div class="card-body">
                                <form method="POST" action="">
                                    {% csrf_token %}
                                    <!-- Form Group (current password)-->
                                    <div class="mb-3">
                                        <label class="small mb-1" for="id_old_password">Password Sekarang</label>
                                        <input class="form-control" name="old_password" id="id_old_password"
                                            type="password" placeholder="Enter current password">
                                    </div>
                                    <!-- Form Group (new password)-->
                                    <div class="mb-3">
                                        <label class="small mb-1" for="id_new_password1">Password Baru</label>
                                        <input class="form-control" name="new_password1" id="id_new_password1"
                                            type="password" placeholder="Enter new password">
                                    </div>
                                    <!-- Form Group (confirm password)-->
                                    <div class="mb-3">
                                        <label class="small mb-1" for="id_new_password2">Konfirmasi Password
                                            Baru</label>
                                        <input class="form-control" name="new_password2" id="id_new_password2"
                                            type="password" placeholder="Confirm new password">
                                    </div>
                                    <button class="btn btn-primary" type="submit">Simpan</button>
                                </form>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </body>


</html>
{% include 'dosen_matkul/includes/footer.html' %}
<!-- end dashboard inner -->
{% endblock content %}
</div>
</div>
</div>


{% include 'dosen_matkul/includes/scripts.html' %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}
</body>

</html>