<!DOCTYPE html>
<html lang="en">

<head>
   <!-- basic -->
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <!-- mobile metas -->
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="viewport" content="initial-scale=1, maximum-scale=1">
   <!-- site metas -->
   <title>Dashboard</title>
   <meta name="keywords" content="">
   <meta name="description" content="">
   <meta name="author" content="">
   {% load static %}
   <!-- Include CSS files -->
   {% include 'dosen_fungsional/includes/css.html' %}
   <!-- Specific CSS goes HERE -->
   {% block stylesheets %}
   <style>
      .pagination {
         display: flex;
         justify-content: center;
      }

      .pagination .active>span {
         background-color: #000000;
         color: black;
      }

      .pagination button {
         padding: 0.5em 1em;
         margin: 0 0.25em;
      }

   </style>
   {% endblock stylesheets %}
   <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
</head>

{% include 'dosen_fungsional/includes/navigation.html' %}

{% block content %}

<!-- dashboard inner -->
<div class="midde_cont">
   <div class="container-fluid">
      <div class="row column_title">
         <div class="col-md-12">
            <div class="page_title">
               <h2>Jadwal Sidang</h2>
            </div>
         </div>
      </div>
   </div>
   {% include 'message.html' %}
   <div class="row column1">
      <div class="col-md-12">
         <div class="white_shd full margin_bottom_30">
            <div class="full graph_head">
               <div class="heading1 margin_0">
                  <h2>Jadwal Sidang Periode {% now "F" %}</h2>
               </div>
            </div>
            <div class="row">
               <div class="col-lg-12">
                  <div class="table-responsive">
                     <table class="table">
                        <tr>
                           <th style="width: 2%">No</th>
                           <th style="width: 25%">Nama</th>
                           <th>Pbb 1</th>
                           <th>Pbb 2</th>
                           <th>Penguji 1</th>
                           <th>Penguji 2</th>
                           <th>Ruang</th>
                           <th>Waktu</th>
                           <th>Aksi</th>
                        </tr>
                        {% for sidang in obj %}{% for ws in date %}
                        {% if forloop.counter == forloop.parentloop.counter %}
                        <tbody>
                           <tr>
                              <td>{{ forloop.counter }}</td>
                              <td>
                                 <a>{{sidang.daftar_sidang}}</a>
                              </td>
                              <td>
                                 <a>{{ws.daftar_sidang.pbb1}}</a>
                              </td>
                              <td>
                                 <a>{{ws.daftar_sidang.pbb2}}</a>
                              </td>
                              <td>
                                 <a>{{sidang.penguji1}}</a>
                              </td>
                              <td>
                                 <a>{{sidang.penguji2}}</a>
                              </td>
                              <td>
                                 <a>{{sidang.ruang}}</a>
                              </td>
                              <td>
                                 <a>{{ws.daftar_sidang.hari_sidang}}, {{ws.daftar_sidang.waktu_sidang}}</a>
                              </td>
                              <td>
                                 <a class="edit" href="{% url 'editJadwal' sidang.id %}">
                                    <button type="button" class="btn btn-success btn-xs">Edit</button>
                                 </a>
                              </td>
                           </tr>
                           {% endif %}
                           {% endfor %}{% endfor %}
                        </tbody>
                     </table>
                     <br>

                     <ul class="pagination">
                        {% if obj.has_previous %}
                        <li><a href="?page={{ obj.previous_page_number }}"><button
                                 class="btn {% if obj.number == 1 %}btn-primary{% else %}btn-outline-primary{% endif %}">&laquo;</button></a>
                        </li>
                        {% else %}
                        <li class="disabled"><span><button
                                 class="btn {% if obj.number == 1 %}btn-primary{% else %}btn-outline-primary{% endif %}">&laquo;</button></span>
                        </li>
                        {% endif %}
                        {% for i in obj.paginator.page_range %}
                        {% if obj.number == i %}
                        <li class="active"><span><button class="btn btn-primary">{{ i }} <span
                                    class="sr-only">(current)</span></button></span></li>
                        {% else %}
                        <li><a href="?page={{ i }}"><button class="btn btn-outline-primary">{{ i }}</button></a></li>
                        {% endif %}
                        {% endfor %}
                        {% if obj.has_next %}
                        <li><a href="?page={{ obj.next_page_number }}"><button
                                 class="btn {% if obj.number == obj.paginator.num_pages %}btn-primary{% else %}btn-outline-primary{% endif %}">&raquo;</button></a>
                        </li>
                        {% else %}
                        <li class="disabled"><span><button
                                 class="btn {% if obj.number == obj.paginator.num_pages %}btn-primary{% else %}btn-outline-primary{% endif %}">&raquo;</button></span>
                        </li>
                        {% endif %}
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>

      {% include 'dosen_fungsional/includes/footer.html' %}
   </div>
   <!-- end dashboard inner -->
</div>
</div>
</div>
{% include 'dosen_fungsional/includes/scripts.html' %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}
</body>
{% endblock content %}

</html>