{% load static %}
<body class="dashboard dashboard_2">
    <div class="full_container">
       <div class="inner_container">
          <!-- Sidebar  -->
          <nav id="sidebar">
             <div class="sidebar_blog_1">
                <div class="sidebar-header">
                   <div class="logo_section">
                      <a href="{% url 'dashboardMahasiswa' %}"><img class="logo_icon img-responsive" src="{% static 'images/logo/logo3.png' %}" alt="#" /></a>
                   </div>
                </div>
                <div class="sidebar_user_info">
                   <div class="icon_setting"></div>
                   <div class="user_profle_side">
                      <div class="user_img"><img class="img-responsive" src="{% static 'images/photo_profile/user_img.jpg' %}" alt="#" /></div>
                      <div class="user_info">
                         <h6>Selamat Datang {{user.first_name}}</h6>
                         <p><span class="online_animation"></span> Online</p>
                      </div>
                   </div>
                </div>
             </div>
             <div class="sidebar_blog_2">
                <h4>General</h4>
                <ul class="list-unstyled components">
                   <li><a href="{% url 'dashboardMahasiswa' %}"><i class="fa fa-dashboard yellow_color"></i> 
                     <span>Dashboard</span></a></li>
                   <li>
                     <a href="#proposal" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-envelope orange_color"></i> <span>Proposal</span></a>
                      <ul class="collapse list-unstyled" id="proposal">
                         <li><a href="{% url 'proposal' %}">> <span>Daftar Proposal</span></a></li>
                         <li><a href="{% url 'statusDiterima' %}">> <span>Status Proposal</span></a></li>
                      </ul>
                   </li>
                   <li>
                     <a href="#sempro" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-table purple_color2"></i> <span>Seminar Proposal</span></a>
                      <ul class="collapse list-unstyled" id="sempro">
                         <li><a href="{% url 'seminarProposal' %}">> <span>Daftar Sempro</span></a></li>
                         <li><a href="{% url 'jadwalSemproMhs' %}">> <span>Jadwal Sempro</span></a></li>
                      </ul>
                   </li>
                   <li>
                     <a href="#sidang" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-table purple_color2"></i> <span>Sidang TA</span></a>
                      <ul class="collapse list-unstyled" id="sidang">
                         <li><a href="{% url 'sidangTA' %}">> <span>Daftar Sidang TA</span></a></li>
                         <li><a href="{% url 'jadwalSidangMhs' %}">> <span>Jadwal Sidang TA</span></a></li>
                      </ul>
                   </li>
                  <li><a href="{% url 'uploadRevisi' %}"><i class="fa fa-paper-plane red_color"></i> 
                    <span>Upload Revisi TA</span></a></li>
                  </li>
                  <li>
                     <a href="#nilai" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-bar-chart-o green_color"></i> <span>Nilai</span></a>
                      <ul class="collapse list-unstyled" id="nilai">
                         <li><a href="{% url 'nilaiProposal' %}">> <span>Nilai Proposal</span></a></li>
                         <li><a href="{% url 'nilaiTA' %}">> <span>Nilai TA</span></a></li>
                      </ul>
                   </li>
                   <li><a href="{% url 'pengaturanMahasiswa' %}"><i class="fa fa-cog yellow_color"></i> 
                     <span>Pengaturan</span></a></li>
                </ul>
             </div>
          </nav>
          <!-- end sidebar -->
          <!-- right content -->
          <div id="content">
             <!-- topbar -->
             <div class="topbar">
                <nav class="navbar navbar-expand-lg navbar-light">
                   <div class="full">
                      <button type="button" id="sidebarCollapse" class="sidebar_toggle"><i class="fa fa-bars"></i></button>
                      <div class="logo_section">
                         <a href="{% url 'dashboardMahasiswa' %}"><img class="img-responsive" src="{% static 'images/logo/logo1.png' %}" alt="#" /></a>
                      </div>
                      <div class="right_topbar">
                         <div class="icon_info">
                            <ul class="user_profile_dd">
                               <li>
                                  <a class="dropdown-toggle" data-toggle="dropdown"><img class="img-responsive rounded-circle" src="{% static 'images/photo_profile/user_img2.png' %}" alt="#" /><span class="name_user">{{user.first_name}}</span></a>
                                  <div class="dropdown-menu">
                                     <a class="dropdown-item" href="{% url 'profilMahasiswa' %}">My Profile</a>
                                     <a class="dropdown-item" href="{% url 'pengaturanMahasiswa' %}">Settings</a>
                                     <a class="dropdown-item" href="{% url 'logoutUser' %}"><span>Log Out</span> <i class="fa fa-sign-out"></i></a>
                                  </div>
                               </li>
                            </ul>
                         </div>
                      </div>
                   </div>
                </nav>
             </div>
             <!-- end topbar -->