<!DOCTYPE html>
<html lang="en">

<head>
   <!-- basic -->
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <!-- mobile metas -->
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="viewport" content="initial-scale=1, maximum-scale=1">
   <!-- site metas -->
   <title>Skripsipedia</title>
   <meta name="keywords" content="">
   <meta name="description" content="">
   <meta name="author" content="">
   {% load static %}
   <!-- Include CSS files -->
   {% include 'dosen/includes/css.html' %}
   <!-- Specific CSS goes HERE -->
   {% block stylesheets %}

   {% endblock stylesheets %}
   <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
</head>

<style>
   select.form-control:not([size]):not([multiple]) {
      height: calc(3rem + 2px);
   }
</style>
{% include 'dosen/includes/navigation.html' %}



{% block content %}

<!-- dashboard inner -->
<div class="midde_cont">
   <div class="container-fluid">
      <div class="row column_title">
         <div class="col-md-12">
            <div class="page_title">
               <h2>Form Penilaian Tugas Akhir</h2>
            </div>
         </div>
      </div>
      {% include 'message2.html' %}
      <div class="row column1 graph margin_bottom_30">
         <div class="col-md-10 col-lg-10">
            <div class="white_shd full">
               <div class="full graph_head">
                  <div class="heading1 margin_0">

                     <form method="POST" action="">
                        {% csrf_token %}
                        <div class="form-row">
                           <div class="form-group col-md-6 col-md-6">
                              <label for="individual_performance_ta">Individual Performance (25%)</label>
                              <input type="number" name="individual_performance_ta" class="form-control">
                           </div>
                           <div class="form-group col-md-6 col-md-6">
                              <label for="progress_report">Detailed Design Progress Report (5%)</label>
                              <input type="number" name="progress_report" class="form-control">
                           </div>
                           <div class="form-group col-md-6 col-md-6">
                              <label for="final_report">Final Report (5%)</label>
                              <input type="number" name="final_report" class="form-control">
                           </div>
                           <div class="form-group col-md-6 col-md-6">
                              <label for="presentasi_demo">Presentasi dan Demonstrasi (10%)</label>
                              <input type="number" name="presentasi_demo" class="form-control">
                           </div>
                           <div class="form-group col-md-6 col-md-6">
                              <label for="paper">Paper (10%)</label>
                              <input type="number" name="paper" class="form-control">
                           </div>
                           <div class="form-group col-md-6 col-md-6">
                              <label for="buku_ta">Buku TA (25%)</label>
                              <input type="number" name="buku_ta" class="form-control">
                           </div>
                           <div class="form-group col-md-6 col-md-6">
                              <label for="sidang_ta">Sidang TA (20%)</label>
                              <input type="number" name="sidang_ta" class="form-control">
                           </div>
                        </div>

                        <button type="submit" class="btn btn-primary">Submit</button>
                     </form>
                  </div>
               </div>
            </div>
         </div>
         {% include 'dosen/includes/footer.html' %}
      </div>
      <!-- end dashboard inner -->
   </div>
</div>
</div>
{% include 'dosen/includes/scripts.html' %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}
</body>
{% endblock content %}

</html>